# DAY 2 - ASSIGNMENTS
> 1. Try 5 different functions of string in python

> 2. Try 5 different functions of lists in python

> 3. Try 5 different functions of dictionary in python

### 1. Try 5 different functions of string in python

In [23]:
sentence = 'Lions live in jungle and not in ponds'

In [24]:
print('1. ',sentence.encode())
print('2. ',sentence.endswith('s'))
print('3. ',sentence.center(130))
print('4. ',sentence.isupper())
print('5. ',sentence.replace('Lions','Tigers'))

1.  b'Lions live in jungle and not in ponds'
2.  True
3.                                                Lions live in jungle and not in ponds
4.  False
5.  Tigers live in jungle and not in ponds

### 2. Try 5 different functions of lists in python

In [20]:
collection = [['Dosa','Idli','Vada'],'Baking',12,True,'Chris Pine',90.90]

In [21]:
collection.extend(['Water','Bottle'])
print('1. ',collection,'\n')

collection[0].insert(1,'Sambhar')
print('2. ',collection,'\n')

collection[0].sort(reverse = True)
print('3. ',collection,'\n')

coll = collection.copy()
print('4. ',coll,'\n')

coll.pop()
print('5. ',coll,'\n')

1.  [['Dosa', 'Idli', 'Vada'], 'Baking', 12, True, 'Chris Pine', 90.9, 'Water', 'Bottle']

2.  [['Dosa', 'Sambhar', 'Idli', 'Vada'], 'Baking', 12, True, 'Chris Pine', 90.9, 'Water', 'Bottle']

3.  [['Vada', 'Sambhar', 'Idli', 'Dosa'], 'Baking', 12, True, 'Chris Pine', 90.9, 'Water', 'Bottle']

4.  [['Vada', 'Sambhar', 'Idli', 'Dosa'], 'Baking', 12, True, 'Chris Pine', 90.9, 'Water', 'Bottle']

5.  [['Vada', 'Sambhar', 'Idli', 'Dosa'], 'Baking', 12, True, 'Chris Pine', 90.9, 'Water']

### 3. Try 5 different functions of dictionaries in python

In [9]:
stuff={'Fruit':'Apple','Sport':'Cricket','Games':'Pubg'}
stuff

{'Fruit': 'Apple', 'Sport': 'Cricket', 'Games': 'Pubg'}

In [12]:
print('1. ',stuff.keys())
print('2. ',stuff.values())
print('3. ',stuff.items())
print('4. ',stuff.get('Games'))
print('5. ',sorted(stuff))

1.  dict_keys(['Fruit', 'Sport', 'Games'])
2.  dict_values(['Apple', 'Cricket', 'Pubg'])
3.  dict_items([('Fruit', 'Apple'), ('Sport', 'Cricket'), ('Games', 'Pubg')])
4.  Pubg
5.  ['Fruit', 'Games', 'Sport']

# DAY 4 - ASSIGNMENTS
> 1. Use if-elif-else to write a program in python for report card

> 2. Use For Loop to Print Prime Numbers in between 1 to 1000

> 3. Write a program for printing the tables from 1,10 using Nested For Loop

> 4. Write a program to Print X Prime Numbers using While Loop starting from 0, and take the INput of X from the user

In [32]:
# Question 1
marks = 71
if marks >= 91:
    grade = 'A+'
elif marks >= 81:
    grade = 'A'
elif marks >= 71:
    grade = 'B+'
elif marks >= 61:
    grade = 'B'
elif marks >= 51:
    grade = 'C+'
elif marks >= 41:
    grade = 'C'
else:
    grade = 'F'
print('You grade is :',grade)

You grade is : B+

In [51]:
for num in range (1, 1001):
    count = 0
    for i in range(2, (num//2 + 1)):
        if(num % i == 0):
            count = count + 1
            break

    if (count == 0 and num != 1):
        print(" %d" %num, end = '\n')

 2
 3
 5
 7
 11
 13
 17
 19
 23
 29
 31
 37
 41
 43
 47
 53
 59
 61
 67
 71
 73
 79
 83
 89
 97
 101
 103
 107
 109
 113
 127
 131
 137
 139
 149
 151
 157
 163
 167
 173
 179
 181
 191
 193
 197
 199
 211
 223
 227
 229
 233
 239
 241
 251
 257
 263
 269
 271
 277
 281
 283
 293
 307
 311
 313
 317
 331
 337
 347
 349
 353
 359
 367
 373
 379
 383
 389
 397
 401
 409
 419
 421
 431
 433
 439
 443
 449
 457
 461
 463
 467
 479
 487
 491
 499
 503
 509
 521
 523
 541
 547
 557
 563
 569
 571
 577
 587
 593
 599
 601
 607
 613
 617
 619
 631
 641
 643
 647
 653
 659
 661
 673
 677
 683
 691
 701
 709
 719
 727
 733
 739
 743
 751
 757
 761
 769
 773
 787
 797
 809
 811
 821
 823
 827
 829
 839
 853
 857
 859
 863
 877
 881
 883
 887
 907
 911
 919
 929
 937
 941
 947
 953
 967
 971
 977
 983
 991
 997

In [47]:
# Question 3
for i in range(1,11):
    for j in range(1,11):
        print(i,'x',j,'=',i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [68]:
j = 1
n = int(input('Enter a number : '))
while j!=n:
    j=i+1
    num = num+1
    count = 0
    for i in range(2, (num//2 + 1)):
        if(num % i == 0):
            count = count + 1
            break

    if (count == 0 and num != 1):
        print(" %d" %num, end = '\n')

Enter a number : 9
 11
 13
 17

# DAY 5 ASSIGNMENT
> 1. Write down a program in Python for Opening a File and Writing " I Love LetsUpgrade" And close
     it, and read it back again, and then append some data to it and close it.

> 2. Write a function which can return the factorial of any number as int,given in the arguement.

In [59]:
# Question 1
assignment = open('Assignment.txt','w')
assignment.write('I Love LetsUpgrade \n')
assignment.close()

In [64]:
# Question 1
assignment=open('Assignment.txt',"r")
print(assignment.read())
assignment.close()

I Love LetsUpgrade
More than Upgrad

In [62]:
# Question 1
assignment=open('Assignment.txt',"a")
assignment.write('More than Upgrad ')
assignment.close()

In [25]:
# Question 2
def factorial(n):
    if n<0:
        print('Factorial is undefined for  negative integers')
    elif n==0:
        print(1)
    else:
        x=[n]
        for i in range(1,n):
            x.append(n-i)
        result = 1
        for item in x:
            result = result * item
        return(result)

In [27]:
# Question 2
print(factorial(6))
print(factorial(49))

720
608281864034267560872252163321295376887552831379210240000000000